.checkoutsum-list {
    
    
    .checkoutsum-details {
      @include flex();
      flex-direction: column;
      height: 40%;
      
    }

    .checkoutsum-box {
      border-radius: $border-radius-default;
      box-shadow: $box-shadow-secondary;
     
      .orcheckoutsumder-first-item {
        align-self: center;

        .item-image {
          border-top-right-radius: $border-radius-default;
          border-top-left-radius: $border-radius-default;
          height: 40%;
          @include media-breakpoint-up(lg) {
            border-radius: $border-radius-default;
          }

          @include media-breakpoint-up(lg) {
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }